# intellij
/.idea/
/*.iml

# gradle
/.gradle/
/build/
!/gradle/wrapper/gradle-wrapper.jar
.gradletasknamecache

# run paper
/run/

# maven
/target/
/dependency-reduced-pom.xml

# dependencies
/dependencies/*.jar


